#Inventory Tweaks Configuration
#(Regarding shortcuts, all key names can be found at: http://legacy.lwjgl.org/javadoc/org/lwjgl/input/Keyboard.html)
#Wed Jan 24 15:04:10 CST 2024
autoRefillBeforeBreak=false
autoRefillDamageThreshhold=5
enableAutoEquipArmor=false
enableAutoRefill=true
enableConfigLoadedMesssage=false
enableMiddleClick=true
enableServerItemSwap=true
enableShortcuts=true
enableSortingOnPickup=false
enableSounds=true
enableToolTipTreePath=false
invertToolDamageSorting=true
shortcutKeyAllItems=LCONTROL+LSHIFT, RCONTROL+RSHIFT
shortcutKeyDrop=LALT, RALT
shortcutKeyEverything=SPACE
shortcutKeyOneItem=LCONTROL, RCONTROL
shortcutKeyToLowerSection=DOWN
shortcutKeyToUpperSection=UP
showChestButtons=true
version=1.64+dev.151.822d839
