/flame
/libraries
/patches
/src

/minecraft/asm
/minecraft/astralsorcery
/minecraft/backups
/minecraft/cache
/minecraft/caches
/minecraft/crash-reports
/minecraft/fancymenu_data
/minecraft/fancymenu_setups
/minecraft/llibrary
/minecraft/logs
/minecraft/saves
/minecraft/tmp
/minecraft/tv-cache
/minecraft/xaero
/minecraft/Xaero*

/minecraft/config/Loot Overhaul/Useful Info
/minecraft/CustomSkinLoader/ExtraList
/minecraft/CustomSkinLoader/LocalSkin
/minecraft/CustomSkinLoader/Plugins
/minecraft/CustomSkinLoader/ProfileCache
/minecraft/local/client

minecraft/config/customloadingscreen_timings.nbt
minecraft/config/jei/worldSettings.cfg
minecraft/config/splash.properties
minecraft/config/teamreborn/configData.nbt
minecraft/CustomSkinLoader/CustomSkinLoader.log
minecraft/.ReAuth.cfg
minecraft/BotaniaVars.dat
minecraft/concheckrmd
minecraft/crafttweaker.log
minecraft/dropt.log
minecraft/ExtraBotanyVars.dat
minecraft/hei_bookmarks.ini
minecraft/hei_favorites.ini
minecraft/patchouli_data.json
minecraft/usercache.json
minecraft/usernamecache.json

instance.cfg
mmc-pack.json
modlist.html
.gitignore
