# Configuration file

general {

    ##########################################################################################################
    # 清澈的水
    #--------------------------------------------------------------------------------------------------------#
    # 调整水体与熔岩的视觉清晰度
    ##########################################################################################################

    清澈的水 {
        # 是否启用熔岩下雾效调整
        B:enableLava=true

        # 是否启用水下雾效调整
        B:enableWater=true

        # 熔岩下雾密度（0-5），原版为 2.0
        # Min: 0.0
        # Max: 5.0
        D:fogDensityLava=0.0

        # 水下雾密度（0-5），原版为 0.1
        # Min: 0.0
        # Max: 5.0
        D:fogDensityWater=0.0
    }

}


