# Configuration file

general {
    # 是否禁用伤害粒子
    B:"Enable Damage Particle Mixin"=true

    # 是否禁用匠魂进化法杖右键的投射物属性
    B:"Enable Mixin"=true

    # 是否启用凋零战利品表
    B:"Enable Wither Loot Mixin"=true
}


