# Configuration file

client {
    # When connector preview mode is set to nearest, the maximum number of nearest target links to render.
    I:ConnectorPreviewNearestLineLimit=10
}


moremachine {
    # Maximum number of connections for the basic wireless power station
    I:AdvancedWirelessChargingLink=600

    # Maximum stored electricity of advanced levels of wireless transmission stations and wireless power supply stations
    D:AdvancedWirelessChargingMaxEnergy=8.0E9

    # Maximum transmission power of advanced levels of wireless transmission stations and wireless power supply stations
    D:AdvancedWirelessChargingOutput=512000.0

    # How many seconds to clear an error
    I:AutoClearErrorMachineSecond=60

    # Maximum number of connections for the basic wireless power station
    I:BasicWirelessChargingLink=300

    # Maximum stored electricity of the basic level of wireless transmission station and wireless power supply station
    D:BasicWirelessChargingMaxEnergy=1.0E9

    # Maximum transmission power of the basic level of wireless transmission stations and wireless power supply stations
    D:BasicWirelessChargingOutput=64000.0

    # Wireless Charging Station Blacklist,The machines in here do not charge.
    S:BlacklistMachine <
        nc.tile.TileBin
        com.supermartijn642.trashcans
        com.rwtema.extrautils2.tile.TileTrashCanEnergy
        mctmods.immersivetechnology.common.blocks.metal.tileentities.TileEntityTrashEnergy
        cassiokf.industrialrenewal.tileentity.TileEntityTrash
        sonar.fluxnetworks.common.tileentity.TileFluxPlug
     >

    # Maximum number of connections for the basic wireless power station
    I:EliteWirelessChargingLink=700

    # Maximum stored electricity of elite level wireless transmission stations and wireless power supply stations
    D:EliteWirelessChargingMAXEnergy=6.4E10

    # Maximum transmission power of elite level wireless transmission stations and wireless power supply stations
    D:EliteWirelessChargingOutput=4096000.0

    # Matching starting types that can be mined by the void mineral excavator
    S:MineralTypeList <
        ore
     >

    # Types of minerals that the Void Mineral Generator cannot mine,For example: 'oreIron
    S:OreGenerationBlacklist <
        oreAstralStarmetal
     >

    # Whether the blacklist of the Void Mineral Generator is reversed. If it is true, the Void Mineral Generator can only mine the types of minerals in the blacklist.
    B:OreGenerationBlacklistReversal=false

    # Energy Storge of the Fluid Replicator
    D:ReplicatorFluidStackEnergyStorge=80000.0

    # Energy usage of the Fluid Replicator
    D:ReplicatorFluidStackEnergyUsage=200.0

    # Energy Storge of the Gases Replicator
    D:ReplicatorGasesEnergyStorge=80000.0

    # Energy usage of the Gases Replicator
    D:ReplicatorGasesEnergyUsage=200.0

    # Energy Storge of the Item Replicator
    D:ReplicatorItemStackEnergyStorge=80000.0

    # Energy usage of the Item Replicator
    D:ReplicatorItemStackEnergyUsage=200.0

    # Maximum number of connections for the basic wireless power station
    I:UltimateWirelessChargingLink=900

    # Maximum stored electricity at the ultimate level of wireless transmission stations and wireless power supply stations
    D:UltimateWirelessChargingMaxEnergy=5.12E11

    # Maximum transmission power of the ultimate level of wireless transmission stations and wireless power supply stations
    D:UltimateWirelessChargingOutput=3.2768E7

    # Energy Storge of Void Mineral Generator
    D:VoidMineralGeneratorEnergyStorge=5.0E7

    # Energy usage of the Void Mineral Generator
    D:VoidMineralGeneratorEnergyUsage=2500.0

    # How many ticks does the Void Mineral Generator need to complete one operation?
    I:VoidMineralGeneratorTick=200

    # When the wireless power station detects the coordinates of an incorrect block, it will store them in a map and continuously check whether the block exists at those coordinates. If it does not exist, the error will be cleared.
    B:enableAutoClearErrorMachine=true

    # Allows machines of the FE series to be charged
    B:enableFEWirelessRecharge=true

    # Allows machines of the EU series to be charged
    B:enableICWirelessRecharge=true

    # Allows machines of the RF series to be charged
    B:enableRFWirelessRecharge=true

    # Allows machines of the Tesla series to be charged
    B:enableTeslaWirelessRecharge=true
}


