# Configuration file

general {

    structures {
        # Enable/Disables the natural spawning of Farlanders in world.
        B:enableFarlandersSpawns=true

        # Enables/Disables the spawning of any structures from the mod.
        B:enableStructures=true

        # The spawnrate of the Farlander houses. (No spawns: 0 | Super common: 300)
        # Min: 0
        # Max: 300
        I:farlanderHouseSpawnRate=130

        # The spawnrate of the Farlander houses. (No spawns: 0 | Super common: 300)
        # Min: 0
        # Max: 300
        I:obsidianSpireSpawnRate=150

        # The spawnrate of the Farlander villages  (No spawns: 0 | Super common: 50)
        # Min: 0
        # Max: 50
        I:villageSpawnRate=20
    }

}


