# Configuration file

general {
    # Don't tick end gateway in other dimension
    B:dontTickEndGatewayForNonEnd=true

    # Don't tick frostwalk for dead players
    B:dontTickFrostWalkForDeadPlayers=true

    # Hibernate server when no players online?
    B:hibernateWhenNoPlayersOnline=true
    I:minecartSkipTicks=30

    # Should we optimize entity movement?
    B:optimizeEntityMovement=true

    # Should we optimize minecart collision?
    B:optimizeMinecartCollision=true

    # Prevent block physics from loading the chunk?
    B:preventBlockPhysicsLoadChunk=true

    ##########################################################################################################
    # lithiumoptimization
    #--------------------------------------------------------------------------------------------------------#
    # Lithium optimizations
    ##########################################################################################################

    lithiumoptimization {
        # Should we optimize chunk cache?
        B:optimizeChunkCache=true

        # Should we optimize math?
        B:optimizeMath=true
    }

    ##########################################################################################################
    # bugfix
    #--------------------------------------------------------------------------------------------------------#
    # Bug fixes
    ##########################################################################################################

    bugfix {
        # Should we patch the Randar exploit?
        B:fixRandarExploit=true
    }

}


