# Configuration file

~CONFIG_VERSION: 0.4.0

##########################################################################################################
# advanced
#--------------------------------------------------------------------------------------------------------#
# 用于更改 JEI 功能的高级配置。
##########################################################################################################

advanced {
    # 启用后，将新书签添加到列表顶端 [default: false]
    B:addBookmarksToFront=false

    # 在多线程上并发构建搜索树，若加载 HEI 时 CPU 负载极高，可关闭此功能 [default: true]
    B:asyncSearchTreeBuilding=true

    # 启用后，搜索框会被移动至底部居中的位置。 [default: false]
    B:centerSearchBarEnabled=false
    B:debugModeEnabled=false

    # 选择 JEI 会直接将物品移入物品栏或是用鼠标将其捡起。
    # [默认: mouse_pickup]
    # [有效: [inventory, mouse_pickup]]
    S:giveMode=inventory

    # 输入物品列表的最大宽度。 [range: 4 ~ 100, default: 100]
    I:maxColumns=80

    # 合成表查询界面允许的最大高度。 [range: 175 ~ 5000, default: 350]
    I:maxRecipeGuiHeight=350

    # 定义 JEI 界面的信息提示中的 Mod 名称样式。留空以禁用。 [默认: blue italic] [有效: [black, dark_blue, dark_green, dark_aqua, dark_red, dark_purple, gold, gray, dark_gray, blue, green, aqua, red, light_purple, yellow, white, obfuscated, bold, strikethrough, underline, italic]]
    S:modNameFormat=blue italic
    B:optimizeMemoryUsage=true

    # 配方书签组的颜色，RGBA 格式。 [range: -2147483648 ~ 2147483647, default: -1627324672]
    I:recipeBookmarkGroupColor=-1627324672

    # 启用超低内存占用模式，但会使搜索速度降低很多。 [default: false]
    B:ultraLowMemoryUsage=false
}


category {
    # 决定 HEI 中配方分类的显示顺序。列在前面的分类将优先在 HEI 界面中显示。 [默认: []]
    S:categoryUidOrder <
     >
}


##########################################################################################################
# collapsible
#--------------------------------------------------------------------------------------------------------#
# 将原料列表中的同类原料分组折叠为单个格子的相关选项。
##########################################################################################################

collapsible {
    # 启用后，相关原料的分组（药水、附魔书等）将折叠为单个格子。Alt + 点击分组以展开或折叠。
    B:collapsibleGroupsEnabled=true

    # 关闭 HEI 时折叠当前已展开的分组。
    B:collapseOnClose=false

    # 切换单击操作，另一项操作将变为 Alt + 点击。打开分组（open_group）：展开分组。首个物品（first_item）：对分组中的第一个物品执行操作。
    # [默认: open_group]
    # [有效: [open_group, first_item]]
    S:collapsedClickAction=OPEN_GROUP
    S:disabledGroups <
     >
}


##########################################################################################################
# misc
#--------------------------------------------------------------------------------------------------------#
# 杂项配置
##########################################################################################################

misc {
    # 是否隐藏左下角的书签按钮 [default: false]
    B:hideBottomLeftCornerBookmarkButton=false

    # 是否隐藏右下角的配置按钮 [default: false]
    B:hideBottomRightCornerConfigButton=false

    # 禁用后，鼠标悬停在原料上时将无法通过点击查看其配方和用途 [default: true]
    B:mouseClickToSeeRecipes=true

    # 当玩家处于创造模式时，显示被用户隐藏的原料 [default: false]
    B:showHiddenIngredientsInCreative=false

    # 在加载时跳过 HEI 的进度条显示，最多可节省数秒加载时间 [default: false]
    B:skipShowingProgressBar=false

    # 当配方被修改时，会在物品的提示框中显示来源信息 [default: true]
    B:tooltipShowRecipeBy=true
}


rendering {
    # 使用渲染缓存来避免频繁的原料绘制调用，最高可将界面帧率提升 2-3 倍。但会导致动画效果和物品闪光无法正常显示。 [default: false]
    B:bufferIngredientRenders=false
}


##########################################################################################################
# search
#--------------------------------------------------------------------------------------------------------#
# 搜索框的相关选项。
##########################################################################################################

search {
    # 当按物品颜色搜索时，要求使用 "^" 作为前缀
    # [默认: disabled]
    # [有效: [enabled, require_prefix, disabled]]
    S:colorSearchMode=disabled

    # 当按创造标签页名搜索时，要求使用 "%" 作为前缀
    # [默认: disabled]
    # [有效: [enabled, require_prefix, disabled]]
    S:creativeTabSearchMode=enabled

    # 当按模组名称搜索时，要求使用 "@" 作为前缀
    # [默认: require_prefix]
    # [有效: [enabled, require_prefix, disabled]]
    S:modNameSearchMode=REQUIRE_PREFIX

    # 当按矿物词典搜索时，要求使用 "$" 作为前缀
    # [默认: disabled]
    # [有效: [enabled, require_prefix, disabled]]
    S:oreDictSearchMode=enabled

    # 当按资源 ID 搜索时，要求使用 "&" 作为前缀
    # [默认: disabled]
    # [有效: [enabled, require_prefix, disabled]]
    S:resourceIdSearchMode=require_prefix

    # 在搜索树中添加高级提示框[将会重置搜索树] [default: false]
    B:searchAdvancedTooltips=false

    # 在搜索树中包含去除变音符号后的字符串[将会重置搜索树] [default: false]
    B:searchStrippedDiacritics=false

    # 当按提示搜索时，要求使用 "#" 作为前缀
    # [默认: enabled]
    # [有效: [enabled, require_prefix, disabled]]
    S:tooltipSearchMode=ENABLED
}


searchadvancedtooltips {
    B:search=false
}


