# Configuration file

general {
    # If Aether Continuation, Aether Legacy, and Aether Lost Content are installed, will they change the High Court City structure when enabled.
    B:"Aether Content Compatibility"=true

    # If Baubles is installed, It will change so that Trinkets can only use Bauble slots when enabled.
    B:"Baubles Compatibility"=true

    # If Deeper Depths is installed, It will change the Void Blossom Cave, and one of the variants of the Night Lich's Tower structures when enabled.
    B:"Deeper Depths Compatibility"=true

    # If Unseen's Nether Backport is installed, It will change the Burning Flame Arena's structure when enabled.
    B:"Unseen's Nether Backport Compatibility"=true
}


