# Configuration file

general {
    # Change Blood Stained Arrow item durability.
    I:"Blood Stained Arrow Durability"=46

    # Change Chip of Fortunate item durability.
    I:"Chip of Fortunate Durability"=46

    # Change Creeper's Will damage when exploding.
    D:"Creeper's Will Damage"=13.0

    # Change Creeper's Will item durability.
    I:"Creeper's Will Trinket Durability"=32

    # Change Cult Classic item durability.
    I:"Cult Classic Item Durability"=84

    # Change Death's Prosper heal amount.
    I:"Death's Prosper Heal Amount"=4

    # Change Death's Prosper item durability.
    I:"Death's Prosper Trinket Durability"=96

    # Change Exalted Shield Armor percentage added based off of total armor of the player.
    D:"Exalted Shield Trinket Armor"=0.1

    # Change Exalted Shield item durability.
    I:"Exalted Shield Trinket Durability"=736

    # Change the attack speed boost when using Fiery Respite
    D:"Fiery Respite Attack Speed Boost Amount"=0.3

    # Change how long a target is afflicted with fire when the potion Fiery Respite is active. In seconds
    I:"Fiery Respite Fire Damage Time"=7

    # Change Flame's Rage default damage.
    I:"Flame's Rage Damage"=2

    # Change Flame's Rage on fire damage.
    I:"Flame's Rage On Fire Damage"=4

    # Change Flame's Rage item durability.
    I:"Flame's Rage Trinket Durability"=912

    # Change Frozen Crystal damage deduction amount as a percentage.
    D:"Frozen Crystal Damage Deduction"=0.5

    # Change Frozen Crystal item durability.
    I:"Frozen Crystal Item Durability"=128

    # Change Frozen Slam ice damage.
    D:"Frozen Slam Ice Damage"=10.0

    # Change Frozen Slam item durability.
    I:"Frozen Slam Trinket Durability"=128

    # Change Glass Cannon item durability.
    I:"Glass Cannon Trinket Durability"=128

    # Change the percentage of Max Health the player is given when using Golden Devotion
    D:"Golden Devotion Health Boost Amount"=0.4

    # Change what percentage of damage is reduced when Golden Devotion is active and the player takes damage from an entity
    D:"Golden Devotion Physical Damage Reduction Amount"=0.15

    # Change Golden Mark item durability.
    I:"Golden Mark Item Durability"=128

    # Change Golden Ritual damage.
    D:"Golden Ritual Damage"=5.0

    # Change Golden Ritual item durability.
    I:"Golden Ritual Item Durability"=64

    # Change what percentage of damage is added when Golden Vow is active and the player damages an entity
    D:"Golden Vow Damage Additive Amount"=0.2

    # Change what percentage of speed the player is given when using Golden Vow
    D:"Golden Vow Speed Bonus"=0.15

    # When applied to you or any entity, they will take x percentage of increased damage when applied with Hunters Mark
    D:"Hunters Mark Damage Additive Amount"=0.1

    # Change Magic Charm spear damage.
    D:"Magic Charm Spear Damage"=8.0

    # Change Magic Charm item durability.
    I:"Magic Charm Trinket Durability"=128

    # Change Magic Reservoir damage that boosts magic attacks.
    D:"Magic Reservoir Damage"=1.0

    # Change Magic Reservoir item durability.
    I:"Magic Reservoir Item Durability"=636

    # Change Mythic Shield Armor percentage added based off of total armor of the player.
    D:"Mythic Shield Trinket Armor"=0.15

    # Change Mythic Shield item durability.
    I:"Mythic Shield Trinket Durability"=736

    # Change Party Starter item durability.
    I:"Party Starter Item Durability"=64

    # When the target is below half health and hit with this potion active. Does it give the target Poison 2 instead of 1.
    B:"Poison Garnish Double Poison Buff"=true

    # Change when Poison Garnish is active, how much extra damage is done to a target when the target has Poison active
    D:"Poison Garnish Increased Damage Amount"=1.0

    # Change how much extra damage the player takes when having Poison Garnish active
    D:"Poison Garnish Increased Damage Taken Amount"=3.0

    # Change Poison Touch item durability.
    I:"Poison Touch Durability"=96

    # Change Speed Runner item durability.
    I:"Speed Runner Trinket Durability"=128

    # Change Spiral Vain item durability.
    I:"Spiral Vain Item Durability"=84

    # Change Stalwart Summoner item durability.
    I:"Stalwart Summoner Item Durability"=32

    # Change Storm Calling item durability.
    I:"Storm Calling Item Durability"=128

    # Change Vampiric item durability.
    I:"Vampiric Trinket Durability"=96

    # Change Vigorous Journey item durability.
    I:"Vigorous Journey Durability"=636

    # Change Vigorous Journey health that is added to the player. In a percentage.
    D:"Vigorous Journey Health Amount"=0.2

    # Change Void's Durability item durability.
    I:"Void's Durability Item Durability"=64
}


