# Configuration file

general {
    #  [default: true]
    B:"Game Stages"=true

    #  [default: true]
    B:"MineTweaker Integration"=true

    #  [default: true]
    B:"Thaumcraft Integration"=true

    #  [default: true]
    B:"Thaumcraft Warp: Dimensions"=false

    #  [default: true]
    B:"Thaumcraft Warp: Mobs"=false

    #  [default: true]
    B:"Thaumcraft Warp: PE"=false
}


