# Configuration file

general {
    # Output high-volume AE2 Quick Calculation debug logs. [default: false]
    B:debugLogging=false
}


notifications {
    # Show a toast when optimization fails or falls back to AE2. [default: true]
    B:showFailureToast=true

    # Show a toast when optimized calculation succeeds. [default: false]
    B:showSuccessToast=false
}


