# Configuration file

client {
    # Position of Matter Decomposer HUD overlay [bottom_left, center_left, top_left, center_top, top_right, center_right, bottom_right] [default: bottom_left]
    S:decomposerHudPosition=bottom_left

    # Render floating item and particles in Crystal Growth Chamber [default: true]
    B:renderFloatingItem=true
}


common {
    # Enable CPU access mode buttons in Crafting Status GUI (ALL/Player Only/Automation Only) [default: true]
    B:enableCpuAccessMode=false
}


