# Configuration file

client {
    # Position of Matter Decomposer HUD overlay [bottom_left, center_left, top_left, center_top, top_right, center_right, bottom_right] [default: bottom_left]
    S:decomposerHudPosition=bottom_left

    # Crystal Growth Chamber particle effect density [range: 0.0 ~ 1.0, default: 0.4]
    S:floatingParticleDensity=0.4

    # Render floating item and particles in Crystal Growth Chamber [default: true]
    B:renderFloatingItem=true

    # Render the floating item model in the Crystal Growth Chamber [default: true]
    B:renderFloatingItemModel=true
}


common {
    # Enable CPU access mode buttons in Crafting Status GUI (ALL/Player Only/Automation Only) [default: true]
    B:enableCpuAccessMode=false
}


registration {
    # Register the Block Storage Bus part. [default: true]
    B:registerBlockStorageBus=true

    # Register the Common Import Bus and Common Export Bus parts. [default: true]
    B:registerCommonBuses=true

    # Register the Common ME Interface block and its resource integrations. [default: true]
    B:registerCommonInterface=true

    # Register the Coupling Staff. [default: true]
    B:registerCouplingStaff=true

    # Register the Crystal Growth Chamber and its parallel-card support. [default: true]
    B:registerCrystalGrowthChamber=true

    # Register the virtual fluid/resource marker item. [default: true]
    B:registerFluidMark=true

    # Register the Fluix Resonance Pivot Core. [default: true]
    B:registerFluixResonancePivotCore=true

    # Register the Storage, Crafting, Pattern and Interface Terminal blocks. [default: true]
    B:registerFullTerminals=true

    # Register the Matter Decomposer. [default: true]
    B:registerMatterDecomposer=true

    # Register the Overflow Destruction Card. [default: true]
    B:registerOverflowDestructionCard=true

    # Register the Packer and Device Package as a bound item group. [default: true]
    B:registerPackerAndDevicePackage=true

    # Register the Parallel Card. [default: true]
    B:registerParallelCard=true

    # Register the Phase Card. [default: true]
    B:registerPhaseCard=true

    # Register the Phase Interface block and its linked card support. [default: true]
    B:registerPhaseInterface=true

    # Register the Product Return Card. [default: true]
    B:registerProductReturnCard=true
}


