# Configuration file

performance {
    # Enable AE2 search query caching and tooltip indexing optimizations. [default: true]
    B:searchOptimizationEnabled=true

    # Maximum client-thread time spent generating tooltip entries per tick, in milliseconds. [range: 1 ~ 1000, default: 10]
    I:tooltipIndexBudgetMillis=10
}


recentsearch {
    # Maximum number of recent search entries shown in an AE2 terminal. [range: 1 ~ 2147483647, default: 10]
    I:maxVisibleEntries=10
}


