# Configuration file

general {
    # 弧光的索敌范围
    D:ARC_RADIUS=2.0

    # 奇袭攻击的倍率
    D:DAMAGE_MULTIPLIER=1.0

    # 野性浮漂拉回伤害的基础倍率
    D:FERAL_BOBBER_PULL_BASE_MULTIPLIER=1.5

    # 野性浮漂拉回伤害的已损生命值倍率斜率。倍率 = 基础倍率 * (1 + 已损生命值 * 该值)
    D:FERAL_BOBBER_PULL_MISSING_HEALTH_SCALING=2.0

    # 神言翻译器的触发几率
    D:PROC_CHANCE=1.0

    # 奇袭攻击伤害模式：0=普通投射物伤害，1=仅穿甲，2=魔法伤害，3=魔法伤害且穿透保护
    # Min: 0
    # Max: 3
    I:SURPRISE_DAMAGE_MODE=1
}


