# Configuration file

general {

    ##########################################################################################################
    # items
    #--------------------------------------------------------------------------------------------------------#
    # Item settings
    ##########################################################################################################

    items {
        # Set to true to enable the Mana Cell Housing item
        B:"Enable Mana Cell Housing"=false

        # Set to true to enable the ME Mana Storage Component items
        B:"Enable Mana Storage Components"=true
    }

}


