# Configuration file

##########################################################################################################
# keg_temperature
#--------------------------------------------------------------------------------------------------------#
# Configure which blocks affect nearby keg temperature. Entries use modid:block_name registry names.
##########################################################################################################

keg_temperature {
    # Blocks counted as cold sources by kegs. One nearby source makes the keg chilly; two or more make it cold. [default: [brewinandchewinlegacy:ice_crate], [minecraft:ice], [minecraft:packed_ice], [minecraft:frosted_ice]]
    S:coldSources <
        brewinandchewinlegacy:ice_crate
        minecraft:ice
        minecraft:packed_ice
        minecraft:frosted_ice
     >

    # Blocks counted as heat sources by kegs. One nearby source makes the keg warm; two or more make it hot. [default: [brewinandchewinlegacy:heating_cask], [minecraft:fire], [minecraft:lava], [minecraft:flowing_lava]]
    S:heatSources <
        brewinandchewinlegacy:heating_cask
        minecraft:fire
        minecraft:lava
        minecraft:flowing_lava
     >
}


