# Configuration file

general {

    ##########################################################################################################
    # options
    #--------------------------------------------------------------------------------------------------------#
    # Options
    ##########################################################################################################

    options {
        B:"Debug Mode"=false

        # Character to Shader Mappings.
        # Data Types: (hex) A color code in the ARGB format; (number-number) A random value between the first and second number; (ResourceLocation) A string pointing to a texture
        # Format: char=textColor (hex)|outlineColor (hex)|glowColor (hex)|particleTexture (ResourceLocation)|particleColor (hex)|particleRarity (number)|particleLifetime (number)|particleDimensions (number-number)|particleRotation (number-number)|particleRotationPerFrame (number-number)
        # Example: g=FF986B31|FFFCE670|FFFCE670|brilliant_text:textures/particles/glow.png|FFFCE670|100|200|2-4|1-360|0-1
        S:"Shader Bindings" <
            g=FF986B31|FFFCE670|FFFCE670|brilliant_text:textures/particles/glow.png|FFFCE670|100|200|2-4|1-360|0-1
            s=FF4C5E6F|FFD5EAF8|00000000|brilliant_text:textures/particles/glow.png|FFD5EAF8|100|200|2-4|1-360|0-1
            q=FF60241E|FFE77B49|00000000
         >
    }

}


