# Configuration file

general {
    # ME Infinity Cell Supported Fluid List
    # Use fluid name as id by default, for example: "water" or "soldering_alloy".
    S:"Fluid IDs" <
        water
     >

    # ME Infinity Cell Supported Item List
    # Format: "<modid>:<name>:<metadata>", where metadata is optional by default.
    # For example: "minecraft:cobblestone" or "appliedenergistics2:part:36" (metadata).
    S:"Item IDs" <
        minecraft:cobblestone
     >
}


