# Configuration file

general {
    B:"Display Mixin Compatibility Checks at Screen"=false
    B:"Display UpdateHelper at Log"=false
    S:"Forced Early Mixin Config Additions" <
     >
    S:"Forced Early Mixin Config Loaded Mods" <
     >

    # Mixin config json files to forcibly remove from FermiumBooter enqueue
    S:"Forced Early Mixin Config Removals" <
     >

    # Disables config based mixin compatibility checks
    # Warning: this may cause undefined behavior in mods, you should not enable this if not absolutely required
    # Do not report issues to any mods if you have this enabled unless you want to be laughed at
    B:"Override Mixin Config Compatibility Checks"=false
}


