# Configuration file

general {

    ##########################################################################################################
    # items
    #--------------------------------------------------------------------------------------------------------#
    # Item settings
    ##########################################################################################################

    items {
        # Set to true to enable the Flux Cell Housing item
        B:"Enable Flux Cell Housing"=false

        # Set to true to enable the ME Flux Storage Component items
        B:"Enable Flux Storage Components"=true
    }

    ##########################################################################################################
    # energy
    #--------------------------------------------------------------------------------------------------------#
    # Energy transfer settings
    ##########################################################################################################

    energy {
        # Maximum FE transferred by an Energy Port Card per tick
        S:"Energy Port Transfer Rate"=2147483647
    }

    ##########################################################################################################
    # energy import bus
    #--------------------------------------------------------------------------------------------------------#
    # Energy Import Bus transfer settings
    ##########################################################################################################

    "energy import bus" {
        # Allow the active Energy Import Bus transfer rate to grow over time
        B:"Enable Rate Growth"=true

        # Initial FE/t for a newly placed Energy Import Bus
        S:"Initial Input Extract Rate"=40

        # Maximum FE extracted by an Energy Import Bus per tick; supports values up to Long.MAX_VALUE
        S:"Maximum Input Extract Rate"=2147483647

        # FE/t added to an active Energy Import Bus transfer rate each tick
        S:"Rate Growth Per Tick"=40
    }

    ##########################################################################################################
    # integration
    #--------------------------------------------------------------------------------------------------------#
    # Compatibility integrations
    ##########################################################################################################

    integration {
        # Allow Mekanism CEU AE Upgrade machines to pull FE from AE networks
        B:"Enable Mekanism CEU AE Upgrade"=false

        # Maximum FE extracted into a Mekanism machine per tick
        S:"Mekanism CEU AE Upgrade Extract Rate"=128000
    }

}


