# Configuration file

client {
    # Drawer content render range in blocks (default: 16)
    # Min: 1
    # Max: 128
    I:drawerRenderRange=16
}


compatibility {
    # Enable AE2 Extended Life storage bus compatibility for drawers and controllers
    B:enableAE2Compatibility=true

    # Enable The One Probe compatibility integration
    B:enableTOPCompatibility=true
}


general {
    # Armory slot amount
    # Min: 1
    # Max: 2147483647
    I:armoryCabinetSize=4096

    # Linking range radius
    # Min: 1
    # Max: 64
    I:drawerControllerLinkingRange=8

    # How much fluid (in mb) the collector upgrade will try to collect
    # Min: 1
    # Max: 10000
    I:upgradeCollectorFluid=500

    # How many items the collector upgrade will try to pull
    # Min: 1
    # Max: 64
    I:upgradeCollectorItems=4

    # How much fluid (in mb) the pulling upgrade will try to pull
    # Min: 1
    # Max: 10000
    I:upgradePullFluid=500

    # How many items the pulling upgrade will try to pull
    # Min: 1
    # Max: 64
    I:upgradePullItems=4

    # How much fluid (in mb) the pushing upgrade will try to push
    # Min: 1
    # Max: 10000
    I:upgradePushFluid=500

    # How many items the pushing upgrade will try to push
    # Min: 1
    # Max: 64
    I:upgradePushItems=4

    # Every how many ticks the drawer upgrades will work
    # Min: 1
    # Max: 200
    I:upgradeTick=4
}


generation {
    # Stone Generation Upgrade T1 generation rate
    # Min: 1
    # Max: 2147483647
    I:stoneGenerationT1=1

    # Stone Generation Upgrade T2 generation rate
    # Min: 1
    # Max: 2147483647
    I:stoneGenerationT2=2

    # Stone Generation Upgrade T3 generation rate
    # Min: 1
    # Max: 2147483647
    I:stoneGenerationT3=4

    # Stone Generation Upgrade T4 generation rate
    # Min: 1
    # Max: 2147483647
    I:stoneGenerationT4=8

    # Universal Generator T1 generation rate
    # Min: 1
    # Max: 2147483647
    I:universalGeneratorT1=1

    # Universal Generator T2 generation rate
    # Min: 1
    # Max: 2147483647
    I:universalGeneratorT2=2

    # Universal Generator T3 generation rate
    # Min: 1
    # Max: 2147483647
    I:universalGeneratorT3=4

    # Universal Generator T4 generation rate
    # Min: 1
    # Max: 2147483647
    I:universalGeneratorT4=8

    # Universal Generator Items generation
    S:universalItemsGeneration=additions:time_shard

    # Universal Generator Items generation registered
    B:universalItemsGenerationRegistered=true

    # Universal Generator Items generation tick
    # Min: 1
    # Max: 2147483647
    I:universalItemsGenerationTick=72000

    # Water Generation Upgrade T1 generation rate
    # Min: 1
    # Max: 2147483647
    I:waterGenerationT1=1000

    # Water Generation Upgrade T2 generation rate
    # Min: 1
    # Max: 2147483647
    I:waterGenerationT2=2000

    # Water Generation Upgrade T3 generation rate
    # Min: 1
    # Max: 2147483647
    I:waterGenerationT3=4000

    # Water Generation Upgrade T4 generation rate
    # Min: 1
    # Max: 2147483647
    I:waterGenerationT4=8000
}


storage {
    # Copper Upgrade storage multiplier
    # Min: 1
    # Max: 1024
    I:copperMultiplier=8

    # Diamond Upgrade storage multiplier
    # Min: 1
    # Max: 1024
    I:diamondMultiplier=24

    # Fluid storage divisor for Storage Upgrades
    # Min: 1
    # Max: 64
    I:fluidDivisor=2

    # Gold Upgrade storage multiplier
    # Min: 1
    # Max: 1024
    I:goldMultiplier=16

    # Netherite Upgrade storage multiplier
    # Min: 1
    # Max: 1024
    I:netheriteMultiplier=32

    # Range divisor for Storage Upgrades
    # Min: 1
    # Max: 64
    I:rangeDivisor=4
}


