# Configuration file

gaia_guardian_iv {
    # Gaia Guardian IV dies and grants these extra drops to every attacking player. Format: modid:item@metadata,count [default: ]
    S:perPlayerExtraDrops <
        extrabotany:treasurebox@0,2
        additions:reward_bag_funf@0,10
     >

    # Dimension ids used by the summon dimension blacklist/whitelist. Empty means no ids are configured.
    I:summonDimensionIds <
        42
     >

    # Set to true to treat summonDimensionIds as a whitelist. False means blacklist mode. [default: false]
    B:summonDimensionWhitelist=true
}


