# Configuration file

general {
    # If unknown items should be dropped from every slot in the inventory [default: true]
    B:dropUnknownItems=false
    B:excludeOBJModels=true

    # Item IDs that should be excluded from item stage hiding [default: [draconicevolution:energy_storage_core]]
    S:excludedItemsModels <
        draconicevolution:energy_storage_core
     >

    # If unknown items should be hidden with a question mark instead of showing their model [default: true]
    B:hideUnknownItems=true
}


