# Configuration file

general {
    # Resource path for the loading background texture. Invalid values fall back to the default. [default: minecraft:textures/gui/title/background/panorama_0.png]
    S:backgroundTexture=greedycraft:gui/loadscreen.png

    # Whether Loading Screens replaces vanilla loading backgrounds. [default: true]
    B:enabled=true
}


