# Configuration file

general {

    ##########################################################################################################
    # thread_hatch
    #--------------------------------------------------------------------------------------------------------#
    # Thread Hatch settings.
    ##########################################################################################################

    thread_hatch {
        # If true, every Thread Hatch in a formed machine multiplies the effects of the others.
        # If false, only one hatch of the highest installed tier takes effect.
        B:allow_stacking=false

        # Base normal-thread multiplier supplied by a MK I Thread Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk1_multiplier=2.0

        # Base normal-thread multiplier supplied by a MK II Thread Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk2_multiplier=3.0

        # Base normal-thread multiplier supplied by a MK III Thread Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk3_multiplier=5.0

        # Base normal-thread multiplier supplied by a MK IV Thread Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk4_multiplier=8.0

        # Base normal-thread multiplier supplied by a MK V Thread Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk5_multiplier=12.0

        # Base normal-thread multiplier supplied by a MK VI Thread Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk6_multiplier=16.0
    }

    ##########################################################################################################
    # overclock_hatch
    #--------------------------------------------------------------------------------------------------------#
    # Overclock Hatch settings.
    ##########################################################################################################

    overclock_hatch {
        # If true, every Overclock Hatch in a formed machine multiplies the effects of the others.
        # If false, only one hatch of the highest installed tier takes effect.
        B:allow_stacking=false

        # Recipe-duration multiplier supplied by a MK I Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk1_duration_multiplier=0.5

        # Energy-consumption multiplier supplied by a MK I Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk1_energy_multiplier=4.0

        # Recipe-duration multiplier supplied by a MK II Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk2_duration_multiplier=0.25

        # Energy-consumption multiplier supplied by a MK II Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk2_energy_multiplier=16.0

        # Recipe-duration multiplier supplied by a MK III Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk3_duration_multiplier=0.125

        # Energy-consumption multiplier supplied by a MK III Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk3_energy_multiplier=64.0

        # Recipe-duration multiplier supplied by a MK IV Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk4_duration_multiplier=0.0625

        # Energy-consumption multiplier supplied by a MK IV Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk4_energy_multiplier=256.0

        # Recipe-duration multiplier supplied by a MK V Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk5_duration_multiplier=0.03125

        # Energy-consumption multiplier supplied by a MK V Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk5_energy_multiplier=1024.0

        # Recipe-duration multiplier supplied by a MK VI Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk6_duration_multiplier=0.015625

        # Energy-consumption multiplier supplied by a MK VI Overclock Hatch.
        # Min: 0.0
        # Max: 1000000.0
        D:mk6_energy_multiplier=4096.0
    }

}


