# Configuration file

team {
    # Whether players can access controllers owned by FTB Utilities teammates. [default: true]
    B:teamAccessEnabled=true
}


teleport {
    # Whether the terminal can teleport players to the controller. [default: true]
    B:teleportEnabled=true

    # GameStage required to use controller teleport. Empty means no stage is required. [default: ]
    S:teleportRequiredGameStage=
}


