# Configuration file

general {
    # SunSpirit max health
    D:"SunSpirit max health"=500.0

    # SunSpirit movement speed
    D:"SunSpirit movement speed"=0.35

    "optional options" {
        # Allows use new Moa Model
        B:"New Moa Model"=true

        # Allows use new Sun Spirit Model
        B:"New Sun Spirit Model"=true
    }

}


