# Configuration file

energy_card {
    # Energy capacity multiplier added by each card.
    D:energy_per_card=0.5

    # Maximum energy cards per machine.
    I:max_energy_cards=20
}


speed_card {
    # Maximum speed cards per machine.
    I:max_speed_cards=20

    # Speed multiplier added by each card.
    D:speed_per_card=0.5
}


