# Configuration file

general {

    aspects {
        # Enables the 'Spatio' aspect. CraftTweaker or GroovyScript is required to utilize it in recipes or other sources.
        B:"Aspect: Spatio"=false

        # Enables the 'Tempus' aspect. CraftTweaker or GroovyScript is required to utilize it in recipes or other sources.
        B:"Aspect: Tempus"=false

        # Enables the 'Tinctura' aspect. CraftTweaker or GroovyScript is required to utilize it in recipes or other sources.
        B:"Aspect: Tinctura"=false
    }

    "flawless magic mirror" {
        # The amount of instability required for this mirror to produce 1 flux. This value is equal to the
        # number of items or amount of essentia ejected from the mirror. Default Thaumcraft mirrors use values
        # of 128 (items) and 64 (essentia). Setting this value to 0 will disable flux pollution.
        # Min: 0
        # Max: 10000
        I:"Instability Threshold"=512

        # The number of ticks required for the flawless mirror to lose 1 instability. Default Thaumcraft
        # mirrors use a value of 100.
        # Min: 0
        # Max: 600
        I:"Stabilization Ticks"=20
    }

    "flawless essentia mirror" {
        # The amount of instability required for this mirror to produce 1 flux. This value is equal to the
        # number of items or amount of essentia ejected from the mirror. Default Thaumcraft mirrors use values
        # of 128 (items) and 64 (essentia). Setting this value to 0 will disable flux pollution.
        # Min: 0
        # Max: 10000
        I:"Instability Threshold"=512

        # The number of ticks required for the flawless mirror to lose 1 instability. Default Thaumcraft
        # mirrors use a value of 100.
        # Min: 0
        # Max: 600
        I:"Stabilization Ticks"=20
    }

}


