# Configuration file

general {
    # Entities that spawn with backpack equipped.
    # Only entities that have chest armor slot will be able to spawn with a backpack equipped.
    S:backpackEntitySpawnList <
        minecraft:zombie
        minecraft:skeleton
        minecraft:husk
        minecraft:stray
        minecraft:wither_skeleton
        minecraft:zombie_pigman
        minecraft:wither_skeleton
     >
    D:baseBackpackSpawnChance=0.029999999329447746

    # Items that cannot be stored in backpack
    S:blacklistedItems <
     >

    instance {
    }

    leatherbackpack {
        D:dropChance=1.0
        I:slots=27
        D:spawnChanceOnMob=0.05000000074505806
        I:upgradeSlots=1
    }

    ironbackpack {
        D:dropChance=1.0
        I:slots=54
        D:spawnChanceOnMob=0.03999999910593033
        I:upgradeSlots=2
    }

    goldbackpack {
        D:dropChance=1.0
        I:slots=81
        D:spawnChanceOnMob=0.029999999329447746
        I:upgradeSlots=3
    }

    diamondbackpack {
        D:dropChance=1.0
        I:slots=108
        D:spawnChanceOnMob=0.019999999552965164
        I:upgradeSlots=5
    }

    obsidianbackpack {
        D:dropChance=1.0
        I:slots=120
        D:spawnChanceOnMob=0.009999999776482582
        I:upgradeSlots=7
    }

    stackupgrade {
        I:diamondMultiplier=16
        I:goldMultiplier=8
        I:ironMultiplier=4
        I:leatherMultiplier=2
        I:obsidianMultiplier=32
    }

}


