# Configuration file

##########################################################################################################
# terminal
#--------------------------------------------------------------------------------------------------------#
# Settings for virtual resources displayed in ME terminals.
##########################################################################################################

terminal {
    # How many server ticks may pass before virtual resource amounts are refreshed. The default is 10 ticks (0.5 seconds). [range: 1 ~ 2147483647, default: 10]
    I:virtualResourceUpdateIntervalTicks=20
}


