# Configuration file

overlay {
    # Min: 0.0
    # Max: 1.0
    D:alpha=1.0

    # Valid values:
    # TOP_LEFT
    # TOP_RIGHT
    # BOTTOM_LEFT
    # BOTTOM_RIGHT
    # CENTER
    S:position=TOP_RIGHT

    # Min: 0.0625
    # Max: 1.0
    D:scale=0.5
}


