# Configuration file

capacities {
    # Interactive container entries and capacities. Format: registry_name[ @metadata ]=capacity. [default: [thaumcraft:phial=10], [thaumcraft:jar_normal=250], [thaumadditions:jar_brass=275], [thaumadditions:jar_thaumium=350], [thaumadditions:jar_eldritch=500], [thaumadditions:jar_mithrillium=1000], [thaumadditions:jar_adaminite=2000], [thaumadditions:jar_mithminite=4000]]
    S:containerCapacities <
        thaumcraft:phial=10
        thaumcraft:jar_normal=250
        thaumadditions:jar_brass=275
        thaumadditions:jar_thaumium=350
        thaumadditions:jar_eldritch=500
        thaumadditions:jar_mithrillium=1000
        thaumadditions:jar_adaminite=2000
        thaumadditions:jar_mithminite=4000
     >
}


general {
    # Hard upper limit for one container. Integer.MAX_VALUE disables the extra limit. [range: 1 ~ 2147483647, default: 2147483647]
    I:maxEssentiaCapacity=2147483647
}


