# Configuration file

client {
    # Ticks used for one full Aurora Glowing color cycle. [range: 1 ~ 10000, default: 30]
    I:auroraPeriod=30
}


effects {
    # Maximum distance at which Aurora Glowing reveals entities. [range: 0 ~ 128, default: 24]
    I:auroraRange=24

    # Range for hostile fire, frost, and poison effects. [range: 0 ~ 128, default: 6]
    I:effectRange=6
}


