# Configuration file

##########################################################################################################
# power_tools
#--------------------------------------------------------------------------------------------------------#
# Client-only Controller GUI preferences.
##########################################################################################################

power_tools {
    # Power Tools panel to open when a Controller GUI is opened. Last used is remembered until Minecraft closes. [default: recent]
    S:leftPanelOnOpen=recent

    # Top Power Tools toolbar state when a Controller GUI is opened. [default: closed]
    S:topPanelOnOpen=closed
}


