# Configuration file

##########################################################################################################
# botania_mana
#--------------------------------------------------------------------------------------------------------#
# Settings for the Botania mana channel.
##########################################################################################################

botania_mana {
    # Maximum transfer rate for Botania mana on advanced connectors. [range: 1 ~ 2147483647, default: 10000]
    I:maxRateAdvanced=10000

    # Maximum transfer rate for Botania mana on normal connectors. [range: 1 ~ 2147483647, default: 2000]
    I:maxRateNormal=2000
}


##########################################################################################################
# compat
#--------------------------------------------------------------------------------------------------------#
# Top-level compatibility toggles for optional mod integrations.
##########################################################################################################

compat {
    # Enable XNet support for Botania mana. [default: true]
    B:enableBotaniaMana=true

    # Enable XNet support for IndustrialCraft 2 EU. [default: true]
    B:enableIC2EU=true

    # Enable XNet support for Mekanism gas. [default: true]
    B:enableMekanismGas=true

    # Enable XNet support for Thaumcraft essentia. [default: true]
    B:enableThaumcraftEssentia=true
}


##########################################################################################################
# ic2_eu
#--------------------------------------------------------------------------------------------------------#
# Settings for the IndustrialCraft 2 EU channel.
##########################################################################################################

ic2_eu {
    # Maximum transfer rate for IndustrialCraft 2 EU on advanced connectors, in EU/t.  [range: 1 ~ 2147483647, default: 1048576]
    I:maxRateAdvanced=1048576

    # Maximum transfer rate for IndustrialCraft 2 EU on normal connectors, in EU/t. [range: 1 ~ 2147483647, default: 2048]
    I:maxRateNormal=2048
}


##########################################################################################################
# mekanism_gas
#--------------------------------------------------------------------------------------------------------#
# Settings for the Mekanism gas channel.
##########################################################################################################

mekanism_gas {
    # Maximum transfer rate for Mekanism gas on advanced connectors. [range: 1 ~ 2147483647, default: 1280]
    I:maxRateAdvanced=1280

    # Maximum transfer rate for Mekanism gas on normal connectors. [range: 1 ~ 2147483647, default: 256]
    I:maxRateNormal=256
}


##########################################################################################################
# thaumcraft_essentia
#--------------------------------------------------------------------------------------------------------#
# Settings for the Thaumcraft essentia channel.
##########################################################################################################

thaumcraft_essentia {
    # Maximum transfer rate for Thaumcraft essentia on advanced connectors. [range: 1 ~ 2147483647, default: 250]
    I:maxRateAdvanced=100

    # Maximum transfer rate for Thaumcraft essentia on normal connectors. [range: 1 ~ 2147483647, default: 50]
    I:maxRateNormal=25
}


