# Configuration file

general {
    # Add spawns for where the Ashed Parasite can spawn if Better End is installed, these weights are decreased compared to default spawning in the Ash Wastelands
    S:"Ashed Parasite Allowed Biome Spawns BE" <
        betterendforge:shadow_forest
        betterendforge:dragon_graveyards
        betterendforge:chorus_forest
     >
}


